*
!.emacs.d/
!.emacs.d/init.el
!.emacs.d/init/
!.emacs.d/init/*.el
.emacs.d/init/init-local.el
.emacs.d/init/custom.el
!.emacs.d/snippets/
!.emacs.d/snippets/*/
!.emacs.d/snippets/*/*


!.xmonad/
!.xmonad/.dir-locals.el
!.xmonad/stack.yaml
!.xmonad/xmonad-exe.cabal
!.xmonad/build
!.xmonad/src/
!.xmonad/src/*.hs
.xmonad/lib/Local.hs

!.ipython/
!.ipython/profile_default/
!.ipython/profile_dev/
!.ipython/profile_default/*
!.ipython/profile_dev/*
.ipython/*/*.sqlite

!.vim/
!.vim/plugin/
!.vim/plugin/*/
!.vim/plugin/*/*.vim
!.vim/ftplugin/
!.vim/ftplugin/*.vim
!.vim/init/
!.vim/init/*.vim

!.jupyter/
!.jupyter/custom/
!.jupyter/custom/custom.css
!.jupyter/custom/custom.js

!.tmuxinator/
!.tmuxinator/*

!.bashrc
!.bash_aliases
!.gitignore_global
!.Xmodmap
!.ghci
!.Rprofile
!.inputrc
!.tmux.conf
!.vimrc
!.gitignore
!.pylintrc
!.profile
!.gitconfig

!.config/
!.config/pep8

!.ssh/
!.ssh/config

!bin/
!bin/*

!.boot/
!.boot/boot.properties
!.boot/profile.boot

