[include]
    path = ~/local/rc/gitconfig
[push]
    default = simple
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    ls = log --oneline -n 20
[core]
    excludesfile = /home/bart/.gitignore_global
