*
!.clojure/
!.clojure/deps.edn

!.xmonad/
!.xmonad/.dir-locals.el
!.xmonad/stack.yaml
!.xmonad/xmonad-exe.cabal
!.xmonad/build
!.xmonad/src/
!.xmonad/src/*.hs
.xmonad/src/Local.hs

!.ipython/
!.ipython/profile_default/
!.ipython/profile_dev/
!.ipython/profile_default/*
!.ipython/profile_dev/*
.ipython/*/*.sqlite

!.pyenv.overrides
!.pyenv.overrides/*

!.vim/
!.vim/plugin/
!.vim/plugin/*/
!.vim/plugin/*/*.vim
!.vim/ftplugin/
!.vim/ftplugin/*.vim
!.vim/init/
!.vim/init/*.vim

!.jupyter/
!.jupyter/custom/
!.jupyter/custom/custom.js

!.tmuxinator/
!.tmuxinator/*

!.aws.vault/
!.aws.vault/config

!.aws.hidden/
!.aws.hidden/config

!.bashrc
!.bash_aliases
!.gitignore_global
!.Xmodmap
!.ghci
!.Rprofile
!.inputrc
!.tmux.conf
!/.vimrc
!/.gitignore
!.pylintrc
!.profile
!.gitconfig

!.config/
!.config/pep8

!.ssh/
!.ssh/config

!bin/
!bin/*

!.boot/
!.boot/boot.properties
!.boot/profile.boot

!.zshrc
!.aliases.zsh