*
!.emacs.d/
!.emacs.d/init.el
!.emacs.d/config/
!.emacs.d/config/*.el
.emacs.d/config/settings-custom.el
!.emacs.d/snippets/
!.emacs.d/snippets/*/
!.emacs.d/snippets/*/*


!.xmonad/
!.xmonad/xmonad.hs
!.xmonad/.dir-locals.el
!.xmonad/lib/
!.xmonad/lib/*.hs
.xmonad/lib/Local.hs

!.vim/
!.vim/plugin/
!.vim/plugin/*/
!.vim/plugin/*/*.vim
!.vim/ftplugin/
!.vim/ftplugin/*.vim
!.vim/init/
!.vim/init/*.vim

!.jupyter/
!.jupyter/custom/
!.jupyter/custom/custom.css
!.jupyter/custom/custom.js

!.bashrc
!.bash_aliases
!.gitignore_global
!.Xmodmap
!.ghci
!.Rprofile
!.inputrc
!.tmux.conf
!.vimrc
!.gitignore
!.pylintrc
!.profile

!local
!local/bin/
!local/bin/emacs

!bin/
!bin/*

